body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Century", "Times New Roman", Times, serif;
}

.form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 570px;
  margin: 0;
  border: 2px solid #4673a2;
  font-size: 15px;
  font-family: "Century", "Times New Roman", Times, serif;
}

.date-box {
  background-color: #eae9e9;
  padding: 10px 10px 10px 10px;
  width: 415px;
  text-align: left;
  margin-bottom: 10px;
}

.login-box {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px 10px 0px;
}

.input-box-name {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: left;
}

.input-box-gender {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
}

.input-box-divide {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
}

.input-label {
  background-color: #65a952;
  color: #ececec;
  padding: 5px 5px 10px 5px;
  min-width: 110px;
  border: 2px solid #4673a2;
  margin: 5px 9px 5px 5px;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
}

.input-label p {
  margin-left: 3px;
  color: red;
}

.input-field-name {
  width: 70%;
  height: 35px;
  border: 2px solid #4673a2;
  margin: 5px 10px 5px 10px;
  font-size: 15px;
  font-family: "Century", "Times New Roman", Times, serif;
}

.login-box button[type="submit"] {
  background-color: #65a952;
  color: #ececec;
  width: 35%;
  padding: 12px;
  box-sizing: border-box;
  border: 2px solid #4673a2;
  border-radius: 10px;
  font-family: "Century", "Times New Roman", Times, serif;
  font-size: 18px;
  margin: 15px 15px 10px 10px;
}

.login-box button[type="submit"]:hover {
  background-color: #ffbb00;
}

.radio-buttons-container {
  display: flex;
  flex-direction: row;
  padding: 10px 100px 10px 10px;
  font-size: 18px;
}

.custom-radio {
  background-color: #65a952;
  appearance: inherit;
  margin: 4px 10px 2px 22px;
  padding: 0px 5px 10px 8px;
  border: 2px solid #4673a2;
  border-radius: 100%;
}

.custom-radio:checked {
  background-color: #ffbb00;
}

#departmentSelect {
  margin: 10px 11px 10px 10px;
  padding: 8px 10px 10px 10px;
  border: 2px solid #4673a2;
  font-size: 16px;
  font-family: "Century", "Times New Roman", Times, serif;
  width: 180px;
  color: #333333;
  text-align: center;
  appearance: none;
}

#date {
  width: 36%;
}

#address {
  padding-bottom: 0px;
}

#box-address {
  align-items: normal;
  margin-top: 5px;
}

#box-address label {
  height: 20px;
}

#error {
  font-size: 17px;
  color: red;
  width: 90%;
}

#myFile {
  margin-left: 10px;
  font-size: initial;
}
