button[type="submit"], .them {
  background-color: #65a952;
  color: #ececec;
  box-sizing: border-box;
  border: 2px solid #4673a2;
  border-radius: 5px;
  font-family: "Century", "Times New Roman", Times, serif;
  text-decoration: none;
}

/* body .form-search,body .form-key,body .container{
  display: flex;
  justify-content: center;
  align-items: center;
}

body .container {
  width: 100%;
} */
