body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Century", "Times New Roman", Times, serif;
}

.form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 330px;
  width: 630px;
  margin: 0;
  border: 2px solid #4673a2;
  font-size: 15px;
  font-family: "Century", "Times New Roman", Times, serif;
}

.date-box {
  background-color: #eae9e9;
  padding: 10px 10px 10px 10px;
  width: 415px;
  text-align: left;
  margin-bottom: 10px;
}

.login-box {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-box {
  display: flex;
  align-items: center;
  margin: 5px 8px 5px 10px;
  padding: 0px 10px 0px 5px;
}

.input-label {
  background-color: #649bd3;
  color: white;
  padding: 10px 30px 10px 10px;
  min-width: 150px;
  border: 2px solid #4673a2;
  margin: 5px 9px 5px 5px;
}

.input-field {
  padding: 10px 30px 10px 10px;
  border: 2px solid #4673a2;
  margin: 5px 8px 5px 5px;
  font-size: 15px;
  font-family: "Century", "Times New Roman", Times, serif;
}

.login-box input[type="submit"] {
  background-color: #649bd3;
  color: white;
  width: 60%;
  padding: 15px;
  box-sizing: border-box;
  border: 2px solid #4673a2;
  border-radius: 10px;
  font-family: "Century", "Times New Roman", Times, serif;
  font-size: 15px;
  margin: 35px 15px 10px 10px;
}
