.container-content {
  display: flex;
  border: 1px solid black;
  align-items: center;
}
label {
  width: 105px;
  border-right: 1px solid black;
  background-color: aliceblue;
  height: 50px;
  font-weight: bold;
  text-align: center;
}
.ha {
  height: 50px;
  display: flex;
  align-items: center;
  margin-left: 30px;
}
form {
  width: 500px;
}
body {
  display: flex;
  justify-content: center;
}
.button-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  width: 70px;
  height: 30px;
  border-radius: 5px 5px 5px 5px;
  background-color: silver;
  color: azure;
}
button:hover {
  background-color: aquamarine;
}

.radio-buttons-container {
  display: flex;
  flex-direction: row;
  padding: 10px 100px 10px 10px;
  font-size: 18px;
}

.custom-radio {
  background-color: #65a952;
  appearance: inherit;
  margin: 4px 10px 2px 22px;
  padding: 0px 5px 10px 8px;
  border: 2px solid #4673a2;
  border-radius: 100%;
}

.custom-radio:checked {
  background-color: #ffbb00;
}

button[type="submit"] {
  background-color: #65a952;
  color: #ececec;
  width: 30%;
  height: 35px;
  padding: 5px;
  box-sizing: border-box;
  border: 2px solid #4673a2;
  border-radius: 10px;
  font-family: "Century", "Times New Roman", Times, serif;
  font-size: 18px;
  margin: 15px 15px 10px 10px;
}
